.DS_Store
xcuserdata
UserInterfaceState.xcuserstate

/0.mov
/NOLA_A.mov
/NOLA_A0A.mov
/NOLA_A0A1.mov
/NOLA_A0A1A.mov
/NOLA_A0A1B.mov
/NOLA_A0A2.mov
/NOLA_A0A2A.mov
/NOLA_A0A2B.mov
/NOLA_A0A2B1.mov
/NOLA_A0A2B2.mov
